---
layout: gallery
title: Gallery
permalink: /Gallery/
---

<link rel="stylesheet" href="{{ '/gallery.css' | relative_url }}">

<div id="gallery-content">
  
    <ul class="results">
    
    {% assign images = site.static_files | where_exp:"file","file.path contains '/sketches'" %}
    {% assign counter = 0 %}


    {% for image in images %}
      <li class="result">
        <a href="#"><img src="{{ image.path | relative_url }}"  width="500" height="500" alt=""></a>
      </li>
      {% assign counter = counter | plus: 1 %}

      {% if counter == 6 %}
    </ul>
    <ul class="results">
        {% assign counter = 0 %}
      {% endif %}

    {% endfor %}

  </ul>

</div>