.highlight {
  background-color: #282a36;
  padding: 1px 1px;
  border-radius: 6px;
  border-left: 4px solid #bd93f9;
  box-shadow: none;
  overflow-x: auto;
}

code {
  font-family: 'Fira Mono', 'Fira Code', monospace;
  background-color: #282a36;
  color: #f8f8f2;
  padding: 1px 1px;
  border-radius: 4px;
  font-size: 0.8em;
}

.highlight .c,
.highlight .cm,
.highlight .c1,
.highlight .cs { color: #6272a4; } // comments

.highlight .err { color: #ff5555; }

.highlight .k,
.highlight .kd,
.highlight .kr,
.highlight .kt,
.highlight .kn { color: #ff79c6; } // keywords

.highlight .s,
.highlight .sb,
.highlight .sc,
.highlight .s1,
.highlight .s2,
.highlight .sa,
.highlight .se,
.highlight .sh,
.highlight .si,
.highlight .sx { color: #f1fa8c; } // strings

.highlight .m,
.highlight .mi,
.highlight .mf { color: #bd93f9; } // numbers

.highlight .o,
.highlight .ow { color: #ff79c6; } // operators

.highlight .p { color: #f8f8f2; } // punctuation

.highlight .n,
.highlight .nb,
.highlight .nc,
.highlight .no,
.highlight .nd,
.highlight .ni,
.highlight .ne,
.highlight .nf,
.highlight .nl,
.highlight .nn,
.highlight .nt,
.highlight .nv,
.highlight .nx,
.highlight .py { color: #50fa7b; } // identifiers

.highlight .gd { color: #ff5555; }
.highlight .gi { color: #50fa7b; }

.highlight .w { color: #f8f8f2; }

.meta-avatar {
  width: 50px;
  height: auto;
  padding: 4px;
  background-color: #50fa7b;
}

.meta-date-posted {
  font-size: 10px;
  color: #bd93f9;
}

.comment {
  background-color: #44475a;
  border: 2px solid #6272a4;
}
